* {
  color: rgb(9, 9, 53);
  text-align: center;
  font-family: "arial", Courier, monospace;
  background-color: darkgrey;
}
#list {
  width: 70%;
  padding: ;
  text-align: left;
  border: 1px solid #ddd;
  margin: ;
}

#container {
  width: 70%;
  padding: ;
  text-align: left;
  border: 1px solid #ddd;
  margin: ;
}
#img {
  image-resolution: ;
}
#p {
  font-size: medium;
  font-family: cursive;
}
#conocimientos {
  width: 70%;
  padding: ;
  text-align: left;
  border: 1px solid #ddd;
  margin: ;
}
#container-footer {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
}
