* {
  color: rgb(9, 9, 53);
  font-family: "Courier New", Courier, monospace;
  background-color: darkgrey;
}
#list {
  width: 70%;
  padding: ;
  text-align: left;
  border: 1px solid #ddd;
  margin: ;
}

#container {
  width: 70%;
  padding: ;
  text-align: left;
  border: 1px solid #ddd;
  margin: ;
}
#img {
<<<<<<< HEAD
  image-resolution: ;
}
#p {
  font-size: medium;
  font-family: cursive;
=======
  image-resolution: initial;
>>>>>>> cabecera
}
