* {
  color: rgb(9, 9, 53);
  font-family: "arial", Courier, monospace;
  background-color: darkgrey;
}
#list {
  width: 70%;
  padding: ;
  text-align: left;
  border: 1px solid #ddd;
  margin: ;
}

#container {
  width: 70%;
  padding: ;
  text-align: left;
  border: 1px solid #ddd;
  margin: ;
}
#img {
  image-resolution: initial;
}
#conocimientos {
  width: 70%;
  padding: ;
  text-align: left;
  border: 1px solid #ddd;
  margin: ;
}
